<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create To-Do</title>
</head>
<body>
<h1>Create a New To-Do Item</h1>
<form th:action="@{/create}" method="post">
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Enter to-do description" required>
    </div>
    <div>
        <label for="isComplete">Mark as Complete:</label>
        <input type="checkbox" id= "isComplete" name="isComplete">
    </div>
    <div>
        <button type="submit">Add To-Do</button>
    </div>
</form>
<a th:href="@{/}">Back to List</a>
</body>
</html>
